.vs/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*
![Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*.asset
![Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*.bin*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
sysinfo.txt
*.apk
*.aab
*.symbols.zip
*.dSYM.zip
